{% extends "base.html" %}

{% block content %}
<ul>
<h3>{{ question }}</h3>
</ul>
<ul>
	{% if choices %}
		{% for choice in choices %}
			<li>
				{{choice}}
				<ul> 
					<li>Votes: {{choice.votes}}</li>
				</ul>
			</li>
		{% endfor %}
	{% else %}
		<p>No choices are available.</p>
	{% endif %}
</ul>

{% endblock %}
