{% extends "base.html" %}

{% block content %}
{% if polls %}
    <ul>
      {% for item_poll in polls %}
      <li>
        {{item_poll.poll.name}}
        <ul>
        {% for question in item_poll.questions %}
          <li>
            <a href="{% url 'polls:detail' question.id %}">{{question.question_text}}</a>
          </li>
        {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
